---
import brandIcon from '../images/icon-brand-recognition.svg'
import {Card} from './Card.astro';
const title1 = '';
const desc1 = '';
const svg1 = 
---

<section class='bg-statsBg flex flex-col gap-[5.75rem]'> 
  <header class='w-[100%] flex flex-col items-center'>
    <h1 class='mb-4 font-bold text-statsHeader tracking-tighter leading-extraLoose'>Advanced Statistics</h1>
    <p class='text-center text-secondarytxt tracking-wide leading-normal'>
      Track how your links are performing across the web with our advanced statistics dashboard</p>
  </header>
  <Card title=/>
</section>
