<section class='bg-statsBg'> 
  <header class='w-[100%] flex flex-col items-center'>
    <h1 class='mb-4'>Advanced Statistics</h1>
    <p class='text-center'>Track how your links are performing across the web with our advanced statistics dashboard</p>
  </header>
  <article>
    <h1>Brand Recognintion</h1>
    <p>Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.</p>
  </article>
  <article>
    <h1>Detailed Records</h1>
    <p> Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions. </p>
  </article>
  <article>
    <h1>Fully Customizable</h1>
    <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
  </article>
</section>
