---
interface Props {
  title: string,
  desc: string,
  svgURL: string,
}
const {title, desc, svgURL} = Astro.props;
---

<article class="relative bg-white class pt-[7.625rem] px-8 pb-8 ">
    <h1>{title}</h1>
  <div class="absolute top-[-2.75rem] w-statsIcons h-statsIcons bg-secondary rounded-statsIcons flex items-center justify-center left-[calc(50%-2.75rem)]"><img class="h-10 w-10" src={svgURL}/></div>
    <p> {desc} </p>
</article>
