---
import womanWorking from "../images/illustration-working.svg";
---

<section class="flex flex-col items-center p-6 pb-[10.5rem]">
    <img
        src={womanWorking}
        alt="woman sitting on a computer by a plant"
        class="relative right-[-6.25rem] mb-[2.3125rem]"
    />
    <h1 class="text-[2.625rem] tracking-tight leading-[3rem] text-center font-bold mb-[0.9375rem]">
        More than just shorter links
    </h1>
    <p class="text-center mb-[2.0625rem] text-secondarytxt">
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
    </p>
    <a href="" class="h-btnLg w-btnSm bg-primary hover:bg-primary-hover flex items-center justify-center rounded-btn text-white font-bold">Get Started</a>
</section>
