---
import womanWorking from "../images/illustration-working.svg";
---

<section class="flex flex-col items-center p-6 pb-[10.5rem]">
    <img
        src={womanWorking.src}
        alt="woman sitting on a computer by a plant"
        class="relative max-w-[unset] top-6 left-[100px] mb-[6.375rem]
     aspect-[733/482] h-[350px]"
    />
    <h1 class="text-primarytxt text-[2.625rem] tracking-tight leading-[3rem] text-center font-bold mb-[0.9375rem] max-w-[27.5rem]">
        More than just shorter links
    </h1>
    <p class="text-center mb-[2.0625rem] text-secondarytxt tracking-wide leading-normal max-w-[29.1875rem]">
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
    </p>
    <a href="#" class="h-btnLg w-btnSm bg-primary hover:bg-primary-hover flex items-center justify-center rounded-btn text-white font-bold">Get Started</a>
</section>
